header {
    margin: 0 auto;
}

nav {
    background-color: #1A1A1A;
}

#result {
    margin-top: 40px;
    background-color: #CED4DA;
}

#result li {
    height: 100px;
    list-style-type: none;
    border-radius: 20px;

}

.buzz {
    background-image: url(../img/buzz.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.fizz {
    background-image: url(../img/fizz.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.fizz-buzz {
    background-image: url(../img/fizz-buzz-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.normal-items {
    background-image: url(../img/nothing-special.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}