header {
    margin: 0 auto;
}

nav {
    background-color: #1A1A1A;
}

#result {
    margin-top: 40px;
    background-color: #CED4DA;
}

#result li {
    height: 100px;
    list-style-type: none;
}

.buzz {
    background-image: url(../img/viola-buzz.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.fizz {
    background-image: url(../img/fizz.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.fizz-buzz {
    background-image: url(../img/rosso-fizzbuzz.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.normal-items {
    background-image: url(../img/giallo-normal.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}